body {
  background-color: #3276ff;
  padding: 40px;
  color: rgb(0, 0, 0);
  font-family: Arial;
  background-image: url("../graphics/israel-flag.gif");
  background-size: cover;
  text-align: center;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: Arial;
  text-align: center;
}

.expense-item {
  color: rgb(255, 119, 119);
  padding: 40px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
